{% extends "admin/adminbase.html" %}

{% block title %}Orders - Podcraze Admin{% endblock %}

{% block content %}
<div class="col main-content">
    <div class="header">
        <h2>Orders</h2>
        <div class="search-box">
            <input type="text" placeholder="Search">
        </div>
    </div>

    <div>
        <button class="btn btn-info"><a href="{% url 'orderrequests' %}" style="text-decoration: none;">Return Requests</a></button>
    </div>

    <table class="product-table">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                
                <th>Payment</th>
                <th>Status</th>
                <th>Price</th>
                <th>Action</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ order.user.first_name }}</td>


                

                <td>{{ order.payment_method.name }}</td>
                <td>{{ order.status }}</td>
                <td>₹ {{ order.total_price }}</td>
                <td>
                    <button class="btn btn-warning"><a href="{% url 'adminorders_details' order.id %}" style="text-decoration: none; class="btn-details">More Details</a></button>
                </td>
                <td>
                    <a href="{% url 'prd_order_delete' order.id %}" >🗑️</a>
                </td>
            </tr>
            {% empty %}
                <tr>
                    <td colspan="8">No orders found.</td>
                </tr>
            {% endfor %}
           
        </tbody>
    </table>

    <div class="pagination">
        <div class="page-item">Previous</div>
        <div class="page-item active">1</div>
        <div class="page-item">2</div>
        <div class="page-item">3</div>
        <div class="page-item">Next</div>
    </div>
</div>
{% endblock %}