{% extends "admin/adminbase.html" %}
{% load static %}
{% block title %}Products - Podcraze Admin{% endblock %}

{% block head %}

<link rel="stylesheet" href="{% static 'css/adminproduct.css' %}">
{% endblock %}

{% block content %}



<div class="col main-content">
    <div class="header">
        <h2>Products</h2>
        <div class="search-box">
            <input type="text" placeholder="Search">
        </div>
    </div>

    <table class="product-table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Brand</th>
                <th>Category</th>
                <th>Varient Count</th>
                <th>Varients</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.brand.name|default:"No brand assigned" }}</td>
                <td>{{ product.product_category.name|default:"No category assigned" }}</td>
                <td>{{ product.variant_count|default:"0" }}</td>
                <td>
                    <a href="{% url 'viewvarients' product.id %}">
                        <button class="btn btn-primary">View</button>
                    </a>
                </td>
                <td>
                    <div class="button-group">
                        <a href="{% url 'editproducts' product.id %}">
                            <button class="btn-edit">Edit</button>
                        </a>
                        <a href="{% url 'deleteproducts' product.id %}">
                            <button class="btn-remove">Remove</button>
                        </a>
                        <a href="{% url 'productvarient' product.id %}">
                            <button class="btn-add-variant">Add Variant</button>
                        </a>
                    </div>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6">No products available.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'adminaddproducts' %}">
        <button class="btn-add">Add new Product</button>
      </a>

    <div class="pagination">
        <div class="page-item">Previous</div>
        <div class="page-item active">1</div>
        <div class="page-item">2</div>
        <div class="page-item">3</div>
        <div class="page-item">Next</div>
    </div>
</div>
{% endblock %}
