{% extends "admin/adminbase.html" %}

{% block title %}Podcraze{% endblock %}

{% block content %}



<div class="col main-content">
    <div class="header">
        <h2>Offers</h2>
        <div class="search-box">
            <input type="text" placeholder="Search">
        </div>
    </div>

   
    <table class="product-table">
        <thead>
            <tr>
                <th>Offer</th>
                <th>Action</th>
            </tr>
            <tr>
                <td>Product</td>
                <td><button class="btn btn-info"><a href="{% url 'productoffer' %}">view</a></button></td>
                
            </tr>
            <tr>
                <td>Category</td>
                <td><button class="btn btn-info"><a href="{% url 'categoryoffer' %}">view</a></button></td>
                
            </tr>
       
            
    </table>
    

    

    <div class="pagination">
        <div class="page-item">Previous</div>
        <div class="page-item active">1</div>
        <div class="page-item">2</div>
        <div class="page-item">3</div>
        <div class="page-item">Next</div>
    </div>
</div>

{% endblock %}
