{% extends "admin/adminbase.html" %}
{% load static %}
{% block title %}Podcraze{% endblock %}

{% block head %}

<link rel="stylesheet" href="{% static 'css/admincategories.css' %}">
{% endblock %}



{% block content %}
<div class="col main-content">
    <div class="header">
        <h2>Category</h2>
        <div class="search-box">
            <input type="text" placeholder="Search">
        </div>
    </div>

    <table class="product-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Status</th>
                <th>Action</th>
                
            </tr>
        </thead>
        <tbody>
            {% for category in categories  %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>{{ category.status }}</td>
                <td>
                    <div class="action-buttons">
                    <a href="{% url 'admineditcategory' category.id %}"><button class="btn-edit">Edit</button></a>

                    <form action="{% url 'adminblockcategory' category.id %}">

                       {% csrf_token %} 
                       {% if category.status == 'Blocked' %}
                       <button type="submit" class="btn-unblock">Unblock</button>
                       {% else %}
                       <button type="submit" class="btn-block">Block</button>
                       {% endif %}

                    </form>


                    <form action="{% url 'admindeletecategory' category.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn-remove">Delete</button>
                    </form>
                    </div>
                    
                </td>
            </tr>
            {% endfor %}
            
        </tbody>
    </table>

    <a href="{% url 'adminaddcategory' %}">
        <button class="btn-add">Add new Category</button>
      </a>

    <div class="pagination">
        <div class="page-item">Previous</div>
        <div class="page-item active">1</div>
        <div class="page-item">2</div>
        <div class="page-item">3</div>
        <div class="page-item">Next</div>
    </div>
</div>

{% endblock %}
