{% extends "admin/adminbase.html" %}

{% block title %}Products - Podcraze Admin{% endblock %}

{% block content %}




<div class="col main-content">
    <div class="header">
        <h2>Customers</h2>
        <div class="search-box">
            <input type="text" placeholder="Search">
        </div>
    </div>

    <table class="product-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Mobile</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users  %}
                {% if not user.is_superuser %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.first_name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.phone }}</td>
                <td>{{ user.status }}</td>
                
                <td>
                    {% if user.status == 'Blocked' %}
                    <a href="{% url 'unblock_user' user.id %}" class="btn btn-success">Unblock</a>
                    {% else %}
                    <a href="{% url 'block_user' user.id %}" class="btn-remove">Block</a>
                    {% endif %}
                    <form action="{% url 'delete_user' user.id %}" method="POST" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn-delete">Remove</button>
                    </form>
                </td>
            </tr>
            
                {% endif %}
            {% endfor %}
        </tbody>
    </table>

    

    <div class="pagination">
        <div class="page-item">Previous</div>
        <div class="page-item active">1</div>
        <div class="page-item">2</div>
        <div class="page-item">3</div>
        <div class="page-item">Next</div>
    </div>
</div>
{% endblock %}
