{% extends "admin/adminbase.html" %}
{% load static %}
{% block title %}Podcraze{% endblock %}

{% block head %}

<link rel="stylesheet" href="{% static 'css/addproduct.css' %}">
{% endblock %}



{% block content %}



    {% if messages %}
    <div class="alert-messages">
        {% for message in messages %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
<div class="content-wrapper">
    <h1 class="page-title">Admin Add Products</h1>

    <div class="add-product-form">
        
        
        <form class="product-form" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label>Product Name</label>
                <input type="text" name="prd_name" class="form-control" value="Product name" title="Product name must be at least 3 characters long and cannot start with a space." required >

            </div>

            <div class="form-group">
                <label>Brands</label>
                <select name="prd_brand" class="form-control" required>
                    {% for brand in brands %}
                    <option value={{ brand.id }}>{{ brand.name}}</option>
                    {% endfor %}
                </select>
            </div>

           

            <div class="form-group">
                <label>Category</label>
                <select name="prd_category" class="form-control">
                    {% for category in categories %}
                    <option value={{ category.id }}>{{ category.name}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label>Description</label>
                <textarea class="form-control" name="description" rows="4"></textarea>
            </div>

            

            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Add Product</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
