Django==5.2.1
asgiref>=3.9.0,<4

# Auth
django-allauth
PyJWT
cryptography

# Database
mysqlclient

# Core utilities
pillow
requests
python-decouple
whitenoise

# Storage
cloudinary
django-cloudinary-storage

# Payments
razorpay

# PDF / Reports
reportlab
num2words
xlsxwriter

# Optional (you used these)
djangorestframework
django-cors-headers