

{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/forgototp.css' %}">
    
</head>
<body>
    <div class="forgot-password-container">
      <img src="{% static 'images/forgot_pass.png' %}" alt="Forgot password illustration" class="illustration">
        <div class="text-center">
            <img src="{% static 'images/back_remove_logo.png' %}" alt="Lock icon" class="lock-icon">
            <h2 class="forgot-title">Forgot Password</h2>
            <p class="forgot-subtitle">Enter Your Email And We Will Send You OTP To Reset Your Password</p>
        </div>
        
        <form action="{% url 'send_otp' %}" method="post">
          {% csrf_token %}
            <input type="email" class="custom-input" name="forgotpass_email" placeholder="Enter email" required>
            <button type="submit" class="btn-send-otp">Send OTP</button>
            <a href="{% url 'userlogin' %}" class="back-to-login">Back to Login</a>
        </form>
    </div>
</body>
</html>